/****************************
* Workshop page title
*/
.workshop-page-title__title,
.workshop-page-title__when-where {
  display: inline-block;
}
.workshop-page-title__subtitle {
  display: inline-flex;
  flex-direction: column;
  float: right;
}

.workshop-page-title__title {
  margin-bottom: 12px;
}

.workshop-page-title__subtitle {
  font-size: 18px;
}

.workshop-page-title__when-where {
  font-size: 18px;
}

/****************************
* Workshop page nav
*/

.workshop-nav {
  display: flex;
  font-size: 16px;
}

.workshop-nav__link {
  display: block;
  flex: 0 0 auto;
}

.workshop-nav__link a {
  display: block;
}

.workshop-nav__fill-end-border {
  display: block;
  flex: 1 1 auto;
  width: 100%;
}

.workshop-nav__link a,
.workshop-nav__fill-end-border {
  padding: 8px;
  border-bottom: 1px solid #dd9b64;
  border-top: 3px solid transparent;
}

.workshop-nav__link--selected a {
  border: 1px solid #dd9b64;
  border-bottom: none;
  border-top: 3px solid #dd9b64;
}

/****************************
* Workshop page table format
*/

.workshop-content table {
  text-align: left;
}

.workshop-content table td {
  vertical-align: top;
  padding-right: 12px;
  padding-bottom: 12px;
}
