<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "nav.html" . -}}

        <div id="right-content">
            {{- partial "header.html" . -}}
            <main>
                <div id="main-background" style="background-image: url('{{ .Params.backgroundImg }}')"></div>
                <div id="main-content">
                    {{- block "main" . }}{{- end }}
                </div>
            </main>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
