{{ define "main" }}

  <div id="page-title">
    {{ .Title }}
  </div>

  <div id="page-content">

    {{ $newsPages := where .Site.Pages "Section" "news" }}

    <article>

      {{ $topLevelNewsPages := where .Pages "Params.subpage" "ne" true }}

      <div class="newsletter-library">
        {{ range $topLevelNewsPages.ByDate.Reverse }}
        <div class="newsletter-library__newsletter-title">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </div>

        {{/*  <ul class="newspaper-library__pages-list">
          {{ range (where (where $newsPages "Params.newsletter" .Params.newsletter) "Params.subpage" true) }}
            <li class="newspaper-library__page">
              <div class="newspaper-library__page-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
              <div class="newspaper-library__page-authors">
                {{ with .Params.authors }}
                {{ delimit . ", " }}
                {{ end }}
              </div>
            </li>
          {{ end }}
        </ul>  */}}
      {{ end }}
    </article>

  </div>
{{ end }}
