<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
<label for="drawer-toggle" id="drawer-toggle-label"></label>

<nav id="left-sidebar" class="left-sidebar">
  <a href="{{ .Site.BaseURL }}"><img class="left-sidebar__logo" src="/img/ppig-logo.png"/></a>

  {{ $currentPage := . }}
  {{ $site := .Site }}
  <ul class="left-sidebar__nav site-nav">
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="site-nav__link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)  }}site-nav__link--selected{{ end }}">
          {{ if .Page.Content }}
          <a href="{{ .URL }}">
          {{ else }}
          <a href="javascript:void(0);" class="js-toggle" style="display: inline;">
          {{ end }}
            {{ if .Page.Params.menuTitle }} {{ .Page.Params.menuTitle }}{{ else }}{{ .Name }}{{ end }}
          </a>
          <a href="javascript:void(0);" class="js-toggle arrow" style="display: inline;">▼</a>
        </li>
        <ul class="site-nav__sub-menu {{ if $currentPage.HasMenuCurrent "main" . }}visible{{ end }}">
          {{ range .Children }}
            <li class="site-nav__link {{ if $currentPage.IsMenuCurrent "main" . }}site-nav__link--selected{{ end }}">
              <a href="{{ .URL }}">
                {{ if .Page.Params.menuTitle }} {{ .Page.Params.menuTitle }}{{ else }}{{ .Name }}{{ end }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ else }}
        <li class="site-nav__link {{ if or ($currentPage.IsMenuCurrent "main" .) (and (hasPrefix $currentPage.RelPermalink .URL) (not .Page.IsHome)) }}site-nav__link--selected{{ end }}">
          <a href="{{ .URL }}">
            {{ if .Page.Params.menuTitle }} {{ .Page.Params.menuTitle }}{{ else }}{{ .Name }}{{ end }}
          </a>
          {{ if and (hasPrefix $currentPage.RelPermalink .URL) (not .Page.IsHome)}}
          <ul class="site-nav__sub-menu visible">
            {{ template "breadcrumbnav" (dict "currentPage" $currentPage "parentPage" $currentPage "menuPage" .Page) }}
          </ul>
          {{ end }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>


{{ define "breadcrumbnav" }}
{{ if ne .parentPage .menuPage }}
  {{ template "breadcrumbnav" (dict "currentPage" .currentPage "parentPage" .parentPage.Parent "menuPage" .menuPage )  }}
{{ end }}
{{ if and (ne .parentPage .menuPage) (ne .currentPage .parentPage) }}
  <li class="site-nav__link {{ if eq .parentPage .currentPage }}site-nav__link--selected{{ end }}">
    <a href="{{ .parentPage.Permalink }}">{{ .parentPage.Title }}</a>
  </li>
{{ end }}
{{ end }}
